body{
	background: url("../images/fondo1.jpg") no-repeat fixed;
	width: 520px;
}
h1{
	color: #fff;
	font: 67px/63px 'Wire One', sans-serif;
	margin: 50px 20px 10px;
	width: 225px;
}
h2{
	background: #4761ff;
	border-radius: 13px;
	color: #fff;
	font: 18px/26px 'Abel', sans-serif;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	width: 225px;
}
h2.recent{
	background: #f0f;
	font-size: 16px;
}