body{
	background: url("../images/fondo1.jpg") no-repeat fixed;
	width: 520px;
}
h1{
	color: #fff;
	font: 67px/63px 'Wire One', sans-serif;
	margin: 50px 20px 10px;
	width: 225px;
}
h2{
	background: #4761ff;
	border-radius: 13px;
	color: #fff;
	font: 18px/26px 'Abel', sans-serif;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	width: 225px;
}
h2.recent{
	background: #f0f;
	font-size: 16px;
}
ul.wp-polls-ul{
	margin: 25px 5px;
	overflow: hidden;
}
ul.wp-polls-ul li{
	float: left;
	position: relative;
	width: 170px;
}
ul.wp-polls-ul input[type=radio]{
	cursor: pointer;
	height: 22px;
	margin: 0;
	opacity: 0;
	padding: 0;
	position: absolute;
	right: 18px;
	width: 44px;
	top: 130px;
}
ul.wp-polls-ul label{
	background: #ef81f2;
	border-radius: 11px;
	color: #fff;
	cursor: pointer;
	font: 13px/22px 'Anton', sans-serif;
	padding: 0 8px;
	position: absolute;
	right: 18px;
	top: 130px;
}
.recent-img{
	border-radius: 16px;
	border: 8px solid #ef81f2 !important;
	margin: 5px !important;
}