body{
	background: url("../images/fondo1.jpg");
	width: 520px;
}
#header{
	background: url("../images/logo_ctl-01.png") no-repeat right top;
	margin-right: 15px;
}
h1{
	color: #fff;
	font: 67px/63px 'Wire One', sans-serif;
	margin: 0 20px;
	padding: 50px 0 0;
	width: 225px;
}
h2{
	background: #4761ff;
	-moz-border-radius: 13px; -webkit-border-radius: 13px; border-radius: 13px;
	color: #fff;
	font: 18px/26px 'Abel', sans-serif;
	margin: 50px auto 0;
	text-align: center;
	text-transform: uppercase;
	width: 225px;
}
h2.recent{
	background: #f0f;
	font-size: 16px;
	margin-top: 20px;
}
ul.wp-polls-ul{
	margin: 10px 5px;
	overflow: hidden;
}
ul.wp-polls-ul li{
	float: left;
	margin: 14px 0;
	position: relative;
	width: 170px;
}
ul.wp-polls-ul input[type=radio]{
	cursor: pointer;
	height: 22px;
	margin: 0;
	opacity: 0;
	padding: 0;
	position: absolute;
	right: 18px;
	width: 44px;
	top: 130px;
}
ul.wp-polls-ul label{
	background: #ef81f2;
	-moz-border-radius: 11px; -webkit-border-radius: 11px; border-radius: 11px;
	color: #fff;
	cursor: pointer;
	font: 13px/22px 'Anton', sans-serif;
	padding: 0 8px;
	position: absolute;
	right: 18px;
	top: 130px;
}
ul.wp-polls-ul label:hover{
	background: #d9e;
}
ul.wp-polls-ul label:active{
	background: #d5e;
}
ul.wp-polls-ul span{
	color: #fff;
	float: left;
	font: bold 11px/14px 'Quicksand', sans-serif;
	height: 28px;
	margin: 0 0 0 18px;
	overflow: hidden;
	width: 100px;
}
ul.wp-polls-ul mark{
	background: none;
	border: 3px solid #4761ff;
	-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
	color: #fff;
	float: left;
	font: 14px/22px 'Anton', sans-serif;
	text-align: center;
	width: 30px;
}
ul.wp-polls-ul img{
	-moz-border-radius: 16px; -webkit-border-radius: 16px; border-radius: 16px;
	border: 8px solid #ef81f2 !important;
	margin: 5px !important;
}

ul.all label{
	background: #4761ff;
}
ul.all label:hover{
	background: #79e;
}
ul.all label:active{
	background: #35e;
}
ul.all mark{
	border-color: #ef81f2;
}
ul.all img{
	border-color: #6984f7 !important;
}

blockquote:before{
	background: url("../images/globo_punta.png");
	content: '';
	display: block;
	height: 58px;
	margin-left: 38px;
	width: 33px;
}
blockquote{
	color: #fff;
	float: left;
	font: bold 11px/14px 'Quicksand', sans-serif;
	margin: 12px 0 0 40px;
	text-align: center;
	width: 253px;
}
blockquote p{
	background: #ec297b;
	-moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px;
	margin: 0;
	padding: 12px 6px 8px;
}
#participa{
	float: left;
	margin: 150px 10px -40px;
}
#footer{
	background: url("../images/las_logo_marquilla.jpg") no-repeat center bottom;
	clear: both;
	padding: 0 10px 24px;
	width: 84px;
}
#footer img{
	margin: 5px;
	vertical-align: top;
}

#lightbox{
	background: url('rgba.php/rgba(0,0,0,0.68)');
	background: rgba(0,0,0,.68);
	-moz-border-radius: 16px; -webkit-border-radius: 16px; border-radius: 16px;
	display: none;
	height: 420px;
	left: 12px;
	position: absolute;
	top: 24px;
	width: 496px;
}
#close-box{
	background: url("../images/cerrar.png");
	cursor: pointer;
	float: right;
	height: 33px;
	margin: 6px;
	text-indent: -9999px;
	width: 33px;
}
#big-pic{
	float: left;
	margin: 40px 12px 8px;
	max-width: 420px;
	text-align: center;
}
#big-pic img{
	-moz-border-radius: 16px; -webkit-border-radius: 16px; border-radius: 16px;
	border: 8px solid #ef81f2;
	margin: 6px 0;
}
#big-pic input{
	background: #4761ff;
	-moz-border-radius: 11px; -webkit-border-radius: 11px; border-radius: 11px;
	border: none;
	color: #fff;
	cursor: pointer;
	font: 26px/44px 'Anton', sans-serif;
	padding: 0 8px;
}
#big-pic input:hover{
	background: #79e;
}
#big-pic input:active{
	background: #35e;
}
#big-pic p{
	color: #fff;
	font: bold 16px/20px 'Quicksand', sans-serif;
	margin: 0;
}